---
import LayoutPage from '../layouts/page.astro';
import LayoutProject from '../layouts/projectLayout.astro';

import Header from '../components/header.astro';
import Button from '../components/Button.astro';
import Card from '../components/Card.svelte';

const cards = [
	{ title: "3D Printer", body: "yay" ,href: "", 
		techno: [
			{"img" : "path", "name" : "toto"},
			{"img" : "path", "name" : "tutu"}
		]
	},
	// { title: "2D Printer", body: "yey" ,href: "" },
	// { title: "1D Printer", body: "null" ,href: "" }
]
---

<LayoutPage title="test">
	<Header title={["Accueil", "Projets", "Labs", "Contact"]} href={["/", "/projets", "/#labs", "/#contact"]}></Header>
	<div id="home" class=" ">

		<div>
			<div>
				<h1>Mathieu Chavanel</h1>
				<h2>Developpeur Creatif</h2>
				<p>Description</p>
			</div>
			<img src="" alt="">
		</div>

		<a href="">arrow</a>

	</div>

	<div id="projectHighlight">
		{cards.map(currentCard => (
			<Card title={currentCard.title} description={currentCard.body} href={currentCard.href} thumbnail='' techno={currentCard.techno}></Card>
		))}
	</div>
	
	<div id="contact">
	</div>

</LayoutPage>

<style>
	@view-transition {
	  navigation: auto; /* enabled! */
	}
</style>