---
import LayoutPage from '../layouts/page.astro';
import Header from '../components/header.astro';
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';

const cards = [
	{ title: "3D Printer", body: "yay" ,href: "" },
	{ title: "2D Printer", body: "yey" ,href: "" },
	{ title: "1D Printer", body: "null" ,href: "" }
]

---

<LayoutPage title="Mathieu Chavanel.B - Potfolio">
	<Header title={["Accueil", "Projets", "Labs", "Contact"]} href={["/", "/projets", "/#labs", "/#contact"]}></Header>
    
	<div id="home" class=" ">

		<h1>Mathieu Chavanel</h1>
		<h2>Creatif Developpeur</h2>
		<img src="" alt="">
		<Button title='Projets' href='/projets'></Button>
		<Button title='Contact' href='/#contact'></Button>
		<a href="">Découvrir</a>

	</div>

	<div id="projectHighlight">
		{cards.map((currentCard) => (
			<Card title={currentCard.title} body={currentCard.body} href={currentCard.href}></Card>
		))}
	</div>
	
	<div id="labs">

	</div>
	
	<div id="contact">

	</div>

</LayoutPage>

<style>
	@view-transition {
	  navigation: auto; /* enabled! */
	}
</style>