---
import LayoutPage from '../layouts/page.astro';

import Header from '../components/Header.vue';
import Contact from '../components/Contact.vue';
import Hero from '../components/Hero.vue';
import Projects from '../components/Projects.vue';
---

<LayoutPage title="Mathieu Chavanel - Portfolio">
	<Header></Header>
	<div class="bg-gradient-to-br from-purple-800 to-indigo-900">
		<Hero></Hero>
		<Projects></Projects>
		<Contact></Contact>
	</div>

	
</LayoutPage>

<style is:global>
	@view-transition {
	  navigation: auto; /* enabled! */
	}

	html{
		scroll-behavior: smooth;
	}

	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base{
		@font-face {
			font-family: 'RubikFont';
			src: url("");
		}
	}

	@layer components {
		.global-color{
			background-color: #CFE9FF;
		}

		.text-hover{
			text-shadow: 0px 0px 1px black;
		}

	}

	div{
		overflow-x: hidden;
	}

</style>