---
import LayoutPage from '../layouts/page.astro';
import LayoutProject from '../layouts/projectLayout.astro';

import Header from '../components/header.astro';
import Button from '../components/Button.astro';
import Card from '../components/Card.svelte';

const cards = [
	{ title: "3D Printer", body: "yay" ,href: "", 
		techno: [
			{"img" : "path", "name" : "toto"},
			{"img" : "path", "name" : "tutu"}
		]
	},
	// { title: "2D Printer", body: "yey" ,href: "" },
	// { title: "1D Printer", body: "null" ,href: "" }
]
---

<LayoutPage title="test">
	<Header title={["Accueil", "Projets", "Contact"]} href={["/", "/projets", "/#contact"]}></Header>
	<div id="home" class=" flex w-screen h-screen">

		<div class="  absolute left-[10%] top-[10%]">
			<h1 class="text-7xl font-medium h-auto w-auto">Mathieu Chavanel</h1>
			<h2 class="text-5xl">Developpeur Creatif</h2>
			<p class="text-xl">Description</p>
		</div>
		<img src="/images/profile.png" alt="image profile" class=" w-[30%] h-auto absolute right-[10%] top-[10%]">

		<a href="">arrow</a>

	</div>

	<div id="projectHighlight">
		{cards.map(currentCard => (
			<Card title={currentCard.title} description={currentCard.body} href={currentCard.href} thumbnail='' techno={currentCard.techno}></Card>
		))}
	</div>
	
	<div id="contact">
	</div>

</LayoutPage>

<style is:global>
	@view-transition {
	  navigation: auto; /* enabled! */
	}

	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer components {
		.typo-rubik {
			font-family: 'Rubik';
		}
		.global-color{
			background-color: #CFE9FF;
		}

	}

	*{
		overflow-x: hidden;
	}

</style>