---
interface Props {
	title: string;
	description: string;
	href: string;
	thumbnail: string;
}

const { href, title, description, thumbnail } = Astro.props;
---

<a href={href}>
	<img src={thumbnail} alt="">
	<h2>{title}</h2>
	<p>{description}</p>
</a >
