---
interface Props {
	title: string[];
	href: string[];
}

const { href, title } = Astro.props;
---

<ul class=" sticky inset-x-0 top-4 z-50 global-color flex justify-around w-1/3 rounded-full mx-auto my-5 text-2xl drop-shadow-sm">
	{title.map((item, index) => (
        <a href={href[index]} class=" m-4 font-medium hover:text-hover">{item}</a>
    ))}
</ul>

