---
interface Props {
	title: string[];
	href: string[];
}

const { href, title } = Astro.props;
---

<ul class=" bg-teal-200 flex justify-around w-1/3 rounded-lg mx-auto">
	{title.map((item, index) => (
        <a href={href[index]} class="  m-4 ">{item}</a>
    ))}
</ul>

