---
interface Props {
	title: string[];
	href: string[];
}

const { href, title } = Astro.props;
---

<ul class=" bg-slate-50 flex justify-around">
	{title.map((item, index) => (
        <a href={href[index]} class="  m-4 ">{item}</a>
    ))}
</ul>

